{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}

{% block body %}
    <h1>Products index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ProductName</th>
                <th>CategoryID</th>
                <th>QuantityPerUnit</th>
                <th>UnitPrice</th>
                <th>UnitsInStock</th>
                <th>UnitsOnOrder</th>
                <th>ReorderLevel</th>
                <th>Discontinued</th>
                <th>Suppliers</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.ProductName }}</td>
                <td>{{ product.CategoryID }}</td>
                <td>{{ product.QuantityPerUnit }}</td>
                <td>{{ product.UnitPrice }}</td>
                <td>{{ product.UnitsInStock }}</td>
                <td>{{ product.UnitsOnOrder }}</td>
                <td>{{ product.ReorderLevel }}</td>
                <td>{{ product.Discontinued ? 'Yes' : 'No' }}</td>
                <td>{{ product.Supplier }}</td>
                <td>
                    <a href="{{ path('products_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('products_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('products_new') }}">Create new</a>
{% endblock %}
